# Entorno virtual
env/
venv/

# Python
__pycache__/
*.pyc

# Base de datos local
db.sqlite3

# Archivos media (imágenes)
media/

# Variables de entorno
.env

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db
